.socials-div {
  font-size: 2rem;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
}

.socials-div a {
  padding: 0.5rem;
  position: relative;
  margin: 0 5px;
  color: #fff;
}

.footer {
  text-align: center;
  background-color: #323232;
}

.timeline-container {
  background-color: #323232;
}

main {
  height: 91vh;
}


/* Timeline Styles */
.timeline-container {
  padding-top: 1rem;
}

.main-timeline {
  position: relative;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.main-timeline .timeline {
  width: 60%;
  padding: 0 30px 0 0;
  margin: 20px 0;
  float: left;
}

.main-timeline .timeline-content {
  background-color: #14ffec;
  min-height: 133px;
  padding: 30px 95px 30px 130px;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-content:before {
  content: "";
  background: #323232;
  border-radius: 100px 20px 20px 100px;
  position: absolute;
  left: 70px;
  top: 10px;
  bottom: 10px;
  right: -30px;
  z-index: -1;
}

.main-timeline .date {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 45px;
  transform: translateY(-50%) rotate(-90deg);
  position: absolute;
  left: -15px;
  top: 50%;
}

.main-timeline .timeline-icon {
  color: #212121;
  background-color: #14ffec;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-50%);
  position: absolute;
  right: -20px;
  top: 50%;
}

.main-timeline .title {
  color: #14ffec;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}

.main-timeline .description {
  color: #fff;
  font-size: 15px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even) {
  padding: 0 0 0 30px;
  float: right;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 30px 130px 30px 95px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
  border-radius: 20px 100px 100px 20px;
  left: -30px;
  right: 70px;
}

.main-timeline .timeline:nth-child(even) .date {
  right: -15px;
  left: auto;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  right: auto;
  left: -20px;
}

.main-timeline .timeline:nth-child(4n + 2) .timeline-content,
.main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
  background-color: #0d7377;
}

.main-timeline .timeline:nth-child(4n + 2) .title {
  color: #0d7377;
}

.main-timeline .timeline:nth-child(4n + 3) .timeline-content,
.main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
  background-color: #14ffec;
}

.main-timeline .timeline:nth-child(4n + 3) .title {
  color: #14ffec;
}

.main-timeline .timeline:nth-child(4n + 4) .timeline-content,
.main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
  background-color: #0d7377;
}

.main-timeline .timeline:nth-child(4n + 4) .title {
  color: #0d7377;
}

@media screen and (max-width: 767px) {

  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    text-align: center;
    width: 100%;
    padding: 0 0 30px 0;
    margin: 0 0 30px;
  }

  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 80px 25px;
  }

  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before {
    border-radius: 50px 50px 20px 20px;
    bottom: -30px;
    top: 65px;
    left: 10px;
    right: 10px;
  }

  .main-timeline .date,
  .main-timeline .timeline:nth-child(even) .date {
    transform: translateX(-50%) translateY(0);
    top: 10px;
    left: 50%;
  }

  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    font-size: 50px;
    line-height: 85px;
    width: 85px;
    height: 85px;
    transform: translateX(-50%);
    top: auto;
    bottom: -20px;
    right: auto;
    left: 50%;
  }
}

@media screen and (max-width: 576px) {
  .main-timeline .title {
    font-size: 18px;
  }
}
