/* Tag Selectors */
body {
  background-color: #212529;
  margin: 0;
  font-family: Source Code Pro;
  font-weight: bold;
  color: #fff;
}

/* Class Selectors */
.cycle-list {
  visibility: collapse;
}

.nav-header {
  padding: 1rem;
}

.image-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  background-color: #212529;
}

@media screen and (min-width: 1024px) {
  .nav-center {
    padding-left: 7rem;
  }
}

@import 'home.scss';
